* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  font-family: "Michroma", sans-serif;
}

header {
  text-align: center;
  background: #242424;
  padding: 1rem 0 1rem 0;
  color: #ffff;
  font-size: 2.5rem;
}

.container-flex {
  display: grid;
  grid-template-columns: 27% 73%;
  grid-template-rows: 10% 90%;
  padding: 1rem;
}

/* Här börjar aside */
aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title-aside {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.activeMonth {
  font-size: 2rem;
  color: white;
}

.activeYear {
  font-family: "Kaisei Decol", serif;
  color: #f5f931;
}

#prevMonth, #nextMonth {
  font-size: 1.3rem;
  color: white;
  margin-top: 0.9375rem;
  
}

#clock {
  background: rgba(86, 86, 86, 0.3);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f5f931;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vh;
  width: 10vh;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border: 1px solid rgb(184, 184, 184);
}

.stuff-to-do {
  background: rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.today-container {
    grid-row: 2;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.7rem;
  padding: 0.7rem;
}

.createToDo {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1.2rem;
}
.today-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newToDo {
  margin-bottom: 0.4rem;
  font-weight: normal;
}

.p-today {
  color: white;
  margin-bottom: 0.3rem;
}

#eventList li {
  white-space: pre-line;
  font-size: 1rem;
  background: rgba(225, 223, 223, 0.3);
  padding: 0.3rem 0.6rem;
  margin-top: 0.7rem;
  border-radius: 0.3rem;
  font-family: "Kaisei Decol", serif;
}

/* Här börjar MAIN */

main {
    grid-row: 1 /span 2;
    grid-column: 2;
    margin-left: 0.9375rem;
}

.weeks {
  font-size: 1.6rem;
  color: #fbd5fc;
  height: 3.75rem;
  } 


.days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 1.25rem;
  border: 0.1875rem solid rgb(34, 34, 34);
  border-radius: 10%;
  background-color: white;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.calendar .weeks li {
  font-weight: 500;
}


.weeks li {
  flex-grow: 1;
  text-align: center;
}

.days li:hover {
  background-color: #d9c2d9;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.days li.inactive {
  color: rgb(199, 197, 197);
}

.days li.active {
  color: white;
  background-color: #c1a4c1;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
  height: 7.5rem;
}

.calendar .days li::before {
  position: absolute;
  content: "";
}

.days li:hover::before {
  background: #c1a4c1;
}

.days li.active::before {
  background: rgb(158, 103, 158);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}


/*HÄR BÖRJAR MQ*/

@media screen and (max-width: 1270px) and (min-width: 1001px) {
    .weeks {
        height: 2.8rem;
    }
  .weeks li {
    font-size: 1.2rem;
  }

  .calendar ul li {
    width: calc(100% / 7);
    position: relative;
    height: 6rem;
  }
  .activeMonth {
    font-size: 1.5rem;
  }
  #prevMonth, #nextMonth {
    font-size: 1.2rem;
    margin-top: 0.6rem;
  }

  header {
    font-size: 2rem;
  }

  .stuff-to-do {
    font-size: 0.8rem;
  }

  #clock {
    height: 4vh;
    width: 9vh;
    font-size: 15px;
  }

}
  

@media screen and (max-width: 1000px) and (min-width: 769px) {
    .weeks {
        height: 2.4rem;
        padding-left: 20px;
    }
    .days {
        padding-left: 20px;
    }
  .weeks li {
    font-size: 15px;
  }

  .calendar ul li {
    width: calc(100% / 7);
    position: relative;
    height: 5rem;
  }

  .activeMonth {
    font-size: 1.1rem;
  }
  #prevMonth, #nextMonth {
    font-size: 1rem;
    margin-top: 0.4rem;
  }

  header {
    font-size: 1.5rem;
  }
  .stuff-to-do {
    font-size: 0.7rem;
  }

  #clock {
    height: 3.4vh;
    width: 8vh;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .container-flex {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    aside {
        order: 3;
    } 
    .weeks, .days {
        padding-left: 0;
    }
    .weeks {
        font-size: 1.3rem;
        height: 2rem;
    }
    .stuff-to-do {
        font-size: 0.8rem;
    }

}   

@media screen and (max-width: 499px) {
    .container-flex {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
    }
  
    header {
      font-size: 1.8rem;
    }
  
    /* aside startar här */
    aside {
      order: 3;
    }
  
    .title-aside {
      order: 1;
      margin-bottom: 0.3rem;
    }
  
    .activeMonth {
      font-size: 1.3rem;
    }
    #prevMonth, #nextMonth {
      font-size: 1.1rem;
      margin-top: auto;
    }
    .stuff-to-do {
        font-size: 0.72rem;
    }
  
    /* main startar här  */
    main {
      order: 2;
      margin-bottom: 1rem;
    }
  
    .weeks {
      font-size: 0.7rem;
      height: 1.1rem;
    }
    .days,
    .weeks {
      padding: 0;
    }
    .days {
      font-size: 0.6rem;
      text-align: center;
    }
  
    .calendar ul li {
      height: 2.8rem;
      border-radius: 50%;
    }
  
    .calendar .days li {
      padding-top: 0.74rem;
    }
  }